# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
172.21.0.5     ITSCL019804.itservices.local ITSCL019804 ITSCL019898.itservices.local ITSCL019898
10.220.100.3   ITSCL019A03.itservices.local ITSCL019A03 ITSCL019A97.itservices.local ITSCL019A97
10.220.100.2   ITSCL019A02.itservices.local ITSCL019A02 ITSCL019A98.itservices.local ITSCL019A98
10.220.70.2    ITSCL019702.itservices.local ITSCL019702 ITSCL019798.itservices.local 
10.220.50.1    ITSCL019501.itservices.local ITSCL019501
10.220.70.98   ITSCL019798 ## needed for drbd
