# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.220.100.4 ITSCL019A04.itservices.local ITSCL019A04
10.220.100.5 ITSCL019A05.itservices.local ITSCL019A05
10.220.100.6 ITSCL019A06.itservices.local ITSCL019A06
10.220.100.7 ITSCL019A07.itservices.local ITSCL019A07
10.220.70.3 ITSCL019703.itservices.local ITSCL019703
10.220.70.4 ITSCL019704.itservices.local ITSCL019704
172.21.0.6 ITSCL019808.itservices.local ITSCL019808
172.21.0.7 ITSCL019809.itservices.local ITSCL019809
{{ ansible_default_ipv4.address }}  {{ ansible_hostname }}.itservices.local {{ ansible_hostname }}
