# {{ ansible_managed }}

You are logged into {{ ansible_hostname }}, role: {{ role }} SERVER, {{ ansible_distribution }} {{ ansible_distribution_version }}, ipaddress: {{ ansible_default_ipv4.address }} 
