# {{ ansible_managed }}

You are logged into {{ ansible_hostname }}, role: ({{ env }}) {{ role }} SERVER {{ ha }}, {{ ansible_distribution }} {{ ansible_distribution_version }}, ip: {{ ansible_default_ipv4.address }} 
